<div class="article-post">
    <img src="{{ article | img_url:150,0 }}" alt="{{ article.image.alt }}" />
    <div>
        <a href="{{ article | url }}">
            <h4>{{ article.title }}</h4>
            <time itemprop="datePublished" datetime="{{ article.publishAt | date }}">{{ article.publishAt | date }}</time>
            <br>
            {% if article.excerpt.size > 0 %}
    		    <p>{{ article.excerpt | strip_html }}</p>
    		{% else %}
    			<p>{{ article.html | strip_html | truncatewords: 20 }}</p>
    		{% endif %}	
        </a>
        <p><a href="{{ article | url }}">Read</a></p> 
    </div>   
</div>