<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        <meta charset="utf-8" />
        <title>
        	{{ site.name }} {% if meta.title != blank and meta.title != site.name %} | {{meta.title}}{% endif %}
        </title>	
        <meta name="description" content="{{ metaDescription | escape }}" />
        <meta name="keywords" content="{{ metaKeywords | escape }}" />
        <link rel="canonical" href="{{ canonicalUrl }}" />
        {% if template == 'index' %}
        <script type="application/ld+json">
            {% include 'structured-data' %}
        </script>
        {% endif %}
        {% include 'open-graph-tags' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="{{ 'site.css.liquid' | asset_url }}">
        {{ settings.head_extra_code }}
    </head>
    <body id="{{ meta.title | handle }}" class="template-{{ template | replace: '.', ' ' | split: ' ' | first | handle }}">
        <div class="basic">
            <header id="site-header" class="{{ settings.headerBg | def:'bg-0' }}">
                <div class="wrapper hamburger-menu">
                    <h1 id="title"><a href="/">{{ site.name }}</a></h1>
                    {% if settings.main_nav %}
                        {% include 'navbar' %}    
                    {% endif %}
                </div>                   
            </header>
            {% if template == 'article' or template == 'page' %}
                <main class="text-content">
                    {% include 'breadcrumbs' %}
                    {{ contentForLayout }}
                </main>
            {% elseif template == 'index' %}
                {% if settings.indexOtfShow %}
                  {% include 'indexHero' %}
                {% endif %}
                <main>
                    {{ contentForLayout }}
                </main>
            {% else %}
                <main>
                    {{ contentForLayout }}
                </main>
            {% endif %}
            
        </div>
        <footer>
            <div class="wrapper">
                {% unless settings.footer_about_shop == ""%}
                <p>
                    <mark>{{ settings.footer_about_shop }}</mark>
                </p> 
                {% endunless %}
                {% if settings.social_show_links %}
                    <nav>
                        {% include 'socialmedia-icon-links' %}
                    </nav>
                {% endif %}
                {% if settings.footer_quicklinks_enable %}
                {% for linkList in settings.footer_linklists | key:"footer_linklist" %}
                  <nav>
                    <ul>
                    {% for link in navigation[linkList.id].links %}
                        <li><a href="{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}                   
                    </ul>
                  </nav> 
                {% endfor %}
                {% endif %}
                <p class="">Copyright &copy; <script>document.write(new Date().getFullYear())</script> - {{ site.name }} - {{ lang.all_rights_reserved | def:'All rights reserved'}}</p>
            </div>
        </footer>
    </body>
    {{ 'site.js' | script_tag }}
    {% if template == 'article' %}
        {{ 'toc.js' | script_tag }}
    {% endif %}
</html>
