<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        <meta charset="utf-8" />
        <title>
        	{{ site.name }} {% if meta.title != blank and meta.title != site.name %} | {{meta.title}}{% endif %}
        </title>	
        <meta name="description" content="{{ metaDescription | escape }}" />
        <meta name="keywords" content="{{ metaKeywords | escape }}" />
        <link rel="canonical" href="{{ canonicalUrl }}" />
        {% if template == 'index' %}
        <script type="application/ld+json">
            {% include 'structured-data' %}
        </script>
        {% endif %}
        {% include 'open-graph-tags' %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="{{ 'site.css.liquid' | asset_url }}">
        {{ settings.head_extra_code }}
    </head>
    <body id="{{ meta.title | handle }}" class="template-{{ template | replace: '.', ' ' | split: ' ' | first | handle }}">
        <div class="basic">
            <header id="site-header" class="{{ settings.headerBg | def:'bg-0' }}">
                <a href='#main-content' class="skip-link">{{ 'Skip to content' | t:'default' }}</a>
                <div class="wrapper hamburger-menu">
                    {% if settings.headerUseLogo %}
                    <a id="title" href="/">
                        <img src="/logo.png" alt="{{ site.name }}" tabindex="0" class="logo">
                    </a>
                    {% else %}
                    <h1 id="title"><a href="/">{{ site.name }}</a></h1>
                    {% endif %}
                    {% if settings.navStyle == "extendedNav" %}
                    <ul class="extended-nav">
                        {% for link in navigation[settings.main_nav].links %}
                        <li>
                            <a href="{{ link | url }}">{{ link.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="flex flexbox">
                        {% if settings.headerUseSearch %}
                        <a-search class="header-searchbar-box">
                            <label class="flex">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="search-icon"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor">
                                    <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                                    </path>
                                </svg>
                                <input class="header-search" type="search" placeholder="{{ 'Search' | t:'search' }}" />
                            </label>
                        </a-search>  
                        {% endif %}
                        {% if site.langs.size > 1 %}
                        <a-lang>
                            <select name="lang" value="{{lang}}">
                                {% for l in site.langs | keys | sort %}
                                <option value="{{ l }}" {% if l == lang %}selected{% endif %}>{{languages[l] | t:'default' }}</option>
                                {% endfor %}
                            </select>
                        </a-lang>
                        {% endif %}
                        {% unless settings.navStyle == "extendedNav" %}
                        {% if settings.main_nav %}
                            {% include 'navbar' %}
                        {% endif %}
                        {% endunless %}
                    </div>
                </div>                   
            </header>
            {% if template == 'article' or template == 'page' %}
                <main class="text-content">
                    {% include 'breadcrumbs' %}
                    {{ contentForLayout }}
                </main>
            {% elseif template == 'index' %}
                {% if settings.indexOtfShow %}
                  {% include 'indexHero' %}
                {% endif %}
                <main>
                    {{ contentForLayout }}
                </main>
            {% else %}
                <main>
                    {{ contentForLayout }}
                </main>
            {% endif %}
            
        </div>
        <footer>
            <div class="wrapper footer-image-links">
                <div>
                {% unless settings.footer_about_shop == ""%}
                <p>
                    <mark>{{ settings.footer_about_shop | t:'default' }}</mark>
                </p> 
                {% endunless %}
                {% if settings.footerLogoImage %}
                <img src="/logo.png" alt="{{ site.name }}" tabindex="0" class="footer-logo">
                {% endif %}
                {% if settings.social_show_links %}
                    <nav>
                        {% include 'socialmedia-icon-links' %}
                    </nav>
                {% endif %}
                </div>
                <div class="footer-linklist-box">
                    {% if settings.footerQuickLinksEnable %}
                        {% for linkList in settings.footerLinkLists %}
                        <nav class="footer-linklist">
                            <header class="footer-linklist-title">{{ linkList.footerLinkListTitle | t:'default' }}</header>
                            {% for link in navigation[linkList].links %}
                            <a href="{{ link | url }}">{{ link.title }}</a>
                            {% endfor %}
                        </nav> 
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="wrapper">
                <p class="footer-copyright">{{ 'Copyright &copy;' | t }} <script>document.write(new Date().getFullYear())</script> - {{ site.name }} - {{ lang.all_rights_reserved | def:'All rights reserved' | t }}</p>
            </div>
        </footer>
    </body>
    {{ 'site.js' | script_tag }}
    {% if template == 'article' %}
        {{ 'toc.js' | script_tag }}
    {% endif %}
    {% component 'alang.liquid' %}
</html>