<nav id="toc"></nav>
<article>
    <header>
        <h1>{{ meta.h1 }}</h1>
        <p>
            {% if article.author %}{{ article.author }}<br>{% endif article.author %}<time itemprop="dateModified">{{ article.publishAt | date }}</time> 
    	</p>    
    </header>
    {{ article.excerpt }}
    <hr>
    <div id="content"  class="{{ article.format }}">{{ article.html }}</div>
    <nav id="next-prev">
        <p>
            {% if article.previous.size > 0 %}
            <a href="{{ article | url:article.previous }}">&larr; {{ lang.older_post | def:'Previous'}}</a>
            {% endif %}            
        </p>
        <p>
            {% if article.next.size > 0 %}
            <a href="{{ article | url:article.next }}">{{ lang.newer_post | def:'Next'}} &rarr;</a>
            {% endif %}            
        </p>
    </nav>
</article>

<style>
#next-prev {
  display: flex;
  justify-content: space-between;
}

    
#content aside {
    padding-left: var(--ok-s-5);
    color: var(--ok-tc-1);
}

@media (width >= 160ch) {
    #content aside {
        padding: var(--ok-s-3);
        position: absolute;
        margin-left: 78ch;
        max-width: 38ch;
    }
    
    #toc {
        padding: var(--ok-s-3);
        position: fixed;
        margin-left: -25ch;
        max-width: 25ch;
    }
}


#content .footnotes ol {
    padding-left: var(--ok-s-5);
    color: var(--ok-tc-1);     
    font-family: monospace;
}

.sidenav ul {
    margin-bottom: var(--ok-s-3);    
}

.sidenav ul ul {
    padding-left: var(--ok-s-3);
}

.sidenav ul ul ul {
    padding-left: var(--ok-s-3);
}
</style>