<nav id="toc-nav">
    <details id="toc-details" open>
        <summary>Page content</summary>
        <div id="toc"></div>
    </details>
</nav>
<article>
    <header>
        <h1>{{ meta.h1 }}</h1>
        <p>
            {% if article.author %}{{ article.author }}<br>{% endif article.author %}<time itemprop="dateModified">{{ article.publishAt | date }}</time> 
    	</p>    
    </header>
    {{ article.excerpt }}
    <hr>
    <div id="content"  class="{{ article.format }}">{{ article.html }}</div>
    <nav id="next-prev">
        <p class="prev">
            {% unless article.previous == empty %}
            <a href="{{ article.previous | url }}">&larr; Previous<br>{{ article.previous.title }}</a>
            {% endunless %}            
        </p>
        <p class="next">
            {% unless article.next == empty %}
            <a href="{{ article.next | url }}">Next &rarr;<br>{{ article.next.title }}</a>
            {% endunless %}            
        </p>
    </nav>
</article>
<style>
#next-prev {
  display: flex;
  justify-content: space-between;
}
#next-prev .next,
#next-prev .prev {
  max-width: 50%;
}
#next-prev .next {
    text-align: right;
}


</style>
